body {
	background-color: #24305E;
	font-family: Helvetica;
	color: #F76C6C;
}

a {
	text-decoration: none;
	color: inherit;
}

nav {
	float: right;
	list-style-type: none;
	margin: 0;
    padding: 0;
}

li {
	display: inline;
}

#slogan {
	float: left;
}

img {
    max-width: 100%;
    height: auto;
}

#contact {
	color: #F8E9A1;
}